
@model MyPassionProject.Models.ViewModels.DetailsProject


@{
    ViewBag.Title = "View";
}

<div class="mb-5">
    <a href="/Project/List" class="my-4 btn btn-secondary" role="button" aria-pressed="true">Go back to the list of Projects</a>
</div>

<div class="mb-5">
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th scope="col">Project Name</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><h2>@Model.SelectedProject.ProjectName</h2></td>
                <td><h2>@Model.SelectedProject.Description</h2></td>
                <td class="text-center">
                    <a href="/Project/Edit/@Model.SelectedProject.ProjectId" class="mt-2 btn btn-warning" role="button" aria-pressed="true">Edit</a>
                    <a href="/Project/DeleteConfirm/@Model.SelectedProject.ProjectId" class="mt-2 btn btn-danger" role="button" aria-pressed="true">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="mb-5">
    <ul class="list-group">
        <li class="list-group-item active fs-3" aria-current="true">Assignments related to <span class="text-warning bg-dark fs-3">@Model.SelectedProject.ProjectName</span>:</li>
        @foreach (var assignment in Model.RelatedAssignments)
        {
            <li class="list-group-item fs-3"><a class="text-decoration-none" href="/Assignment/Details/@assignment.AssignmentId">@assignment.AssignmentType</a></li>
        }
    </ul>
</div>