
@model MyPassionProject.Models.ViewModels.DetailsProject


@{
    ViewBag.Title = "View";
}

<a href="/Project/List">Go back to list</a>
<br />
<a href="/Project/Edit/@Model.SelectedProject.ProjectId">Update</a>
<br />
<a style="color:#ab2020;" href="/Project/DeleteConfirm/@Model.SelectedProject.ProjectId">Delete</a>
<h2>@Model.SelectedProject.ProjectName</h2>
<div>Description: @Model.SelectedProject.Description</div>


<div style="margin-top:100px;">
    <h3>Assignments related to this Project</h3>
    @foreach (var assignment in Model.RelatedAssignments)
    {
        <a href="/Assignment/Details/@assignment.AssignmentId">@assignment.AssignmentType</a>

    }
</div>