@model MyPassionProject.Models.ProjectDto

@{
    ViewBag.Title = "Edit";
}

<div class="mb-5">
    <h2 class="text-center mb-5">Update Project</h2>
</div>

<div class="mb-5">
    <form class="col-lg-6 offset-lg-3" action="/Project/Update/@Model.ProjectId" method="POST">
        <div style="display:none;" class="form-group">
            @* Pass through the assignment ID *@
            <input type="text" class="form-control" id="id" name="ProjectId" value="@Model.ProjectId">
        </div>
        <div class="form-group pb-3">
            <label for="name">Project Name:</label>
            <input type="text" class="form-control" id="name" name="ProjectName" value="@Model.ProjectName">
        </div>
        <div class="form-group pb-3">
            <label for="description">Project Description:</label>
            <input type="text" class="form-control" id="description" name="Description" value="@Model.Description">
        </div>
        <div>
            <button type="submit" class="btn btn-primary my-3">Update project</button>
        </div>
    </form>
</div>