@model MyPassionProject.Models.AssignmentDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2 class="text-center mb-5">Are you sure you want to delete this Assignment?</h2>


<div class="my-5">
    <table class="table table-striped my-5">
        <thead>
            <tr>
                <th scope="col" width="35%">Project Name</th>
                <th scope="col" width="25%">Status</th>
                <th scope="col" width="15%">Due Date</th>
                <th scope="col" width="25%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ProjectName</td>
                <td>@Model.Status</td>
                <td>@Model.DueDate.ToString().Substring(0, 10)</td>
                <td>
                    <form class="col-lg-6 offset-lg-3" action="/Assignment/Delete/@Model.AssignmentId" method="POST">
                        <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <a href="/Assignment/Details/@Model.AssignmentId" class="my-4 btn btn-info" role="button" aria-pressed="true">Cancel</a>
</div>