@model IEnumerable<MyPassionProject.Models.AssignmentDto>

@{
    ViewBag.Title = "Assignment List";
}

<div id="containerlist">
    <nav>
        <a href="/Assignment/New" class="btn btn-success btn-lg active" role="button" aria-pressed="true">New Assignment</a>
    </nav>
</div>



<div class="my-5">
    <table class="table table-striped my-5">
        <thead>
            <tr>
                <th scope="col">Assignment:</th>
                <th scope="col">Project</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var assignment in Model)
            {
                <tr>
                    <td><a href="/Assignment/Details/@assignment.AssignmentId" class="text-decoration-none">@assignment.AssignmentType</a></td>
                    <td>@assignment.ProjectName</td>
                    <td>@assignment.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>


