@model IEnumerable<MyPassionProject.Models.ProjectDto>

@{
    ViewBag.Title = "Add Assignment";
}

<h2>Create Assignment</h2>
<form action="/Assignment/Create" method="POST">
    <div>
        <label>Assignment Type:</label> <input type="text" name="AssignmentType" />
    </div>
    <div>
        <label>Project Name:</label>
        <select name="ProjectId">
            @foreach (var project in Model)
            {
                <option value="@project.ProjectId">@project.ProjectName</option>

            }
        </select>
    </div>
    <div>
        <label>Status:</label>
        <select name="status" id="status">
            <option value="Todo">To DO</option>
            <option value="Doing">Doing</option>
            <option value="Done">Done</option>
        </select>
    </div>
    <div>
        <label>Date:</label>
        <input type="date" name="DueDate" />
    </div>
    <div>
        <input type="submit" value="Add Assignment" />
    </div>
</form>




